<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to Co-op</h2>
    <p>
    Co-op is a site that helps gamers find others that enjoy similar products. Click <a href="http://market.ionic.io/starters" target="_blank">here</a> if you are a console peasant.
    </p>
    <p>
      For example, if you are looking for other Civilization V players, just head over to the Forums tab (at the bottom) and start a thread asking if anyone else want their assed kicked.
    </p>
    <p>
    If you need help with your app, join the Ionic Community on the <a href="http://forum.ionicframework.com" target="_blank">Ionic Forum</a>. Make sure to <a href="http://twitter.com/ionicframework" target="_blank">follow us</a> on Twitter to get important updates and announcements for Ionic developers.
    </p>
    <p>
      For help sending push notifications, join the <a href="https://apps.ionic.io/signup" target="_blank">Ionic Platform</a> and check out <a href="http://docs.ionic.io/docs/push-overview" target="_blank">Ionic Push</a>. We also have other services available.
    </p>

    

  </ion-content>
</ion-view>
