/* Empty. Add your own CSS if you like */

body 
{
background-color: linen;
font-family: Arial;
color: red;
}

h1
{
color: maroon;
margin-left: 20px;
font-family: Arial;
}

p
{
margin-left: 40px;
color: black;
font-family: Arial;
}




